<style>
    #davi_theme{
        padding: 20px;
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .bg-warning{
        background-color: #ffc107 !important;
    }
    .bg-info{
        background-color: #0dcaf0 !important;
    }
    .bg-success{
        background-color: #198754 !important;
    }
  #form_type{
    font-size:32px !important;
  }
  .fs20{
    font-size: 20px
  }
  
  .fs24{
    font-size: 24px;
    margin-bottom: 10px;
  }
.border-top {
    border-top: 1px !important;
}
.border-right {
    border-right: 1px !important;
}
.border-left {
    border-left: 1px !important;
}
.border-bottom {
    border-bottom: 1px !important;
}
.border-top-0 {
    border-top: 0!important;
}
.border-right-0 {
    border-right: 0!important;
}
.border-left-0 {
    border-left: 0!important;
}
.border-bottom-0 {
    border-bottom: 0!important;
}
#customer_login_link{
  color: blue;
}
</style>
{{ 'davi-single-quote.css' | asset_url | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.8.0/html2pdf.bundle.min.js" integrity="sha512-w3u9q/DeneCSwUDjhiMNibTRh/1i/gScBVp2imNVAMCt6cUHIw6xzhzcPFIaL3Q1EbI2l+nu17q2aLJJLo4ZYg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>

<link href="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.css" rel="stylesheet"/>
<script src="https://cdn.datatables.net/v/dt/dt-1.13.4/datatables.min.js" defer></script>
<h3>Customer Information: {{ customer.email }}</h3>
<div id="davi_theme" data-shop="{{ shop.domain }}" data-customer_email="{{ customer.email }}">
{%if customer %}
      
      
    <div class="loader" style="text-align:center; display:flex; justify-content:center"><img src="https://daviapp.solcoder.com/public/uploads/loader/Loader.gif" width="200" height="200"></div>
        <table id="quotes_table" style="display:none">
            <thead>
                <th>S. no.</th>
                <th>Referrence Number</th>
                <th>Form</th>
                <th>Status</th>
                <th>Price</th>
                <th></th>
            </thead>
            <tbody id="quotes" style='text-align:center'>
            </tbody>

        </table>
    </div>
    <div class="mt-4 mb-4" id="single-quotation" style="display:none">
        <div class="container my-4">
            <h1 id="form_type">Invoice</h1>
            <div class="row bg-light px-5 py-2 mt-5">
                <div class="col-md-4">
                    <strong>Reference Number</strong> <br><span id='ref_number'></span>
                </div>
                <div class="col-md-4">
                    <strong>Quotation Status</strong> <br><span id='quotation_status'></span>
                </div>
                <div class="col-md-4">
                    <span><strong>Total Price</strong><br> <span id='total_price'></span> <span class='currency'></span></span>
                    <span class="order_id" style="display:none"><strong>Order ID</strong> <span id='order_id'></span></span>
                </div>
            </div>
            <div class="row p-3">
                <h3 class="fs20 mt-3">Customer Information: {{ customer.email }}</h3>
                <p class="mt-3 expiry_date"><strong>Notice:</strong> This quote expires on <strong id="expiry_date"></strong>.<br/></p>
                <p class="mt-3"><strong>Notice:</strong> If there is more than 10% change in material prices after the quote is provided, it loses its validity. See our policy</p>
                <div class="col-md-12 bg-light">
                    <div class="row quotation_detail mt-5">
                    </div>
                </div>
<!--                 <div class="col-md-6 p-3">
                    <div class="row">
                        <div class="col-md-12 mb-5">
                        </div>
                        <div class="col-md-12 bg-light mt-5 ">
                            <div class="row">
                                <div class="col-md-12 p-3 files3"><strong>File Uploaded</strong></div>
                                
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 bg-light mt-5">
                    <div class="row">
                        <div class="col-md-12 p-3"><strong class="fs24"> Services and Prices</strong></div>
                        <div class="col-md-4 p-3 "><strong> Services</strong></div>
                        <div class="col-md-4 p-3 text-center"><strong> Quantity</strong></div>
                        <div class="col-md-4 p-3 text-end service_html"><strong> Price</strong></div>
                    </div>
                </div>
                
                <div class="col-md-6 mt-4 offset-md-6 mt-3">
                    <div class="row">
                        <div class="col-md-6 mb-3 border-bottom">
                            <label for="sub_total">Subtotal</label>
                        </div>
                        <div class="col-md-6 mb-3 text-end border-bottom">
                            <span id="sub_total" ></span> <span class='currency'></span>
                        </div>
                        <div class="col-md-6 mb-3 border-bottom">
                            <label for="shipping">Shipping</label>
                        </div>
                        <div class="col-md-6 mb-3 text-end border-bottom">
                            <span id="shipping"></span> <span class='currency'></span>
                        </div>
                        <div class="col-md-6 mb-3 border-bottom">
                            <label for="min_order">Minimum order value surchange</label>
                        </div>
                        <div class="col-md-6 mb-3 text-end border-bottom">
                            <span id="min_order"></span> <span class='currency'></span>
                        </div>
                        <div class="col-md-6 mb-3  border-bottom">
                            <label for="vat_price">VAT </label>
                        </div>
                        <div class="col-md-6 text-end  border-bottom">
                            <span id="vat_price" ></span> <span class='currency'></span>
                        </div>
                        <div class="col-md-6 ">
                            <label for="total">Total</label>
                        </div>
                        <div class="col-md-6 text-end ">
                            <span id="total" ></span> <span class='currency'></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

<script>
    
    setTimeout(function(){
      jQuery("#single-quotation").hide();
        $(document).ready(function() {
          
         
           $('#quotes_table').on('click', '.download_pdf', function() {
      
              jQuery('.loader').show();
              jQuery("#quotes_table").hide();
            // Get the ref_number attribute from the button's parent row
            const ref_number = $(this).data('ref_number');
            // const ref_number = 'DMR9V6RDUL';
            if ( ref_number != null ) {  
                  var data = {
                      shop: "{{ shop.domain }}",
                      ref_number: ref_number,
                  };
                  fetch("/apps/sdta/get_single_quote", {
                      method: "POST",
                      body: JSON.stringify(data),
                      headers: {
                          "Content-Type": "application/json",
                      },
                  })
                  .then(function (response) {
                      return response.json();
                  })
                  .then(function (response) {
      
                      var html = "";
                      var file = "";
                      const formData = JSON.parse(response.field_settings);
                      $(formData).each(function( key, value ) {
                          if(value.type != "file" && value.type != "pdf" && value.type != "files"){
                              html += '<div class="col-md-6 p-3 border-bottom"><strong>'+value.label+'</strong></div><div class="col-md-6 p-3 border-bottom">'+value.value+'</div>';
                          }
                          else{
                              if(value.type != "files"){
                                
                                var extension = value.value.split(".");
                                var iconsArray = ["pdf", "csv", "docx", "xlsx"];
                                if(jQuery.inArray(extension[3],iconsArray) != -1){
                                    var link = "<a href='"+value.value+"' target='_blank'><img src='https://daviapp.solcoder.com/public/images/"+extension[3]+"-icon.png' alt=''></a>";
                                } else {
                                    var link = "<a href='"+value.value+"' target='_blank'><img src='https://daviapp.solcoder.com/public/images/unknown-icon.png' alt=''></a>";
                                }
        
                                file += '<div class="col-md-3 p-3 border-bottom"><strong>'+value.label+'</strong></div><div class="col-md-9 p-3 border-bottom">'+link+'</div>';
      
                              }
                            else{
                              var filesArray = value.value;
                              console.log(filesArray.length)
                                var multiplefiles = '';
                              $(filesArray).each(function( key, fileValue ) {
                                console.log(key)
                                var extension = fileValue.split(".");
                                var iconsArray = ["pdf", "csv", "docx", "xlsx"];
                                if(jQuery.inArray(extension[3],iconsArray) != -1){
                                    multiplefiles += "<a href='"+fileValue+"' target='_blank'><img src='https://daviapp.solcoder.com/public/images/"+extension[3]+"-icon.png' alt=''></a>";
                                } else {
                                    multiplefiles += "<a href='"+fileValue+"' target='_blank'><img src='https://daviapp.solcoder.com/public/images/unknown-icon.png' alt=''></a>";
                                }
                                
                                if(key == (filesArray.length-1)){
                                  file += '<div class="col-md-3 p-3 border-bottom"><strong>'+value.label+'</strong></div><div class="col-md-9 p-3 border-bottom">'+multiplefiles+'</div>';  
                                }                        
                              });
                                
                            }
                          }
                      });
                      const services = JSON.parse(response.services);
                      var serviceshtml = "";
                      $(services).each(function( key, value ) {
                          
                          serviceshtml += '<div class="col-md-4 p-3"><strong>'+value.service+'</strong></div><div class="col-md-4 p-3 text-center"><p class="pr-3">'+value.quantity+'</p></div><div class="col-md-4 p-3 text-end"><p class="pr-3">'+value.price+'<span class="currency"></span></p></div>';
                      });
                      
                      jQuery(".service_html").after(serviceshtml);
                      jQuery(".quotation_detail").html(html);
                      jQuery(".files").after(file);
                      jQuery("#ref_number").html(response.referrence_number);
                      jQuery(".expiry_date").hide();
                      if(response.expiry_date == undefined || response.expiry_date == ''){
                          jQuery(".expiry_date").hide();
                      }
                      else{
                          jQuery(".expiry_date").show();
                          jQuery("#expiry_date").html(response.expiry_date);
                      }
                      var min_order = response.min_order ? response.min_order : 0;
                      var vat_price = response.vat_price ? response.vat_price : 0;
                      var sub_total = response.sub_total ? response.sub_total : 0;
                      var shipping = response.shipping ? response.shipping : 0;
                      var total = response.total ? response.total : 0;
                      jQuery("#shipping").html(shipping);
                      jQuery("#min_order").html(min_order);
                      jQuery("#sub_total").html(sub_total);
                      jQuery("#vat_price").html(vat_price);
                      jQuery("#total").html(total);
                      jQuery(".currency").html(response.currency);
                      var today = new Date();
                      var expiry_date = new Date(response.expiry_date)
                      if((response.status  == 'quotation_ready' || response.status  == 'quotation_revised') && expiry_date > today){
                          jQuery("#checkout").html('Accept Quotation');
                          jQuery("#checkout").show();
                      }
                      if((response.status  == 'pending' || response.status  == 'quotation_ready' || response.status  == 'quotation_revised') && expiry_date > today){
                          
                          jQuery("#cancel_quotation").show();   
                      }
                      var status ;
                      // if(response.status  == 'pending'){
                      //     var status = '<span class="badge" style="background:'+response.settings.quotation_pending+'">Quotation Pending</span>';
                      // } else if(response.status  == 'quotation_ready'){
                      //     var status = '<span class="badge" style="background:'+response.settings.quotation_ready+'">Quotation Ready</span>';
                      // } else if(response.status  == 'quotation_accepted'){
                      //     var status = '<span class="badge" style="background:'+response.settings.quotation_accepted+'">Quotation Accepted</span>';
                      // } else if(response.status  == 'quotation_revised'){
                      //     var status = '<span class="badge" style="background:'+response.settings.quotation_revised+'">Quotation Revised</span>';
                      // } else if(response.status  == 'quotation_cancel'){
                      //   var status = '<span class="badge" style="background:'+response.settings.quotation_canceled+'">Quotation Cancelled</span>';
                      // } else if(response.status  == 'quotation_expired' ||  expiry_date < today){
                      //     var status = '<span class="badge" style="background:'+response.settings.quotation_expired+'">Quotation Expired</span>';
                      // }
                      if(response.status  == 'pending'){
                          var status = '<span>Quotation Pending</span>';
                      } else if(response.status  == 'quotation_ready'){
                          var status = '<span>Quotation Ready</span>';
                      } else if(response.status  == 'quotation_accepted'){
                          var status = '<span>Quotation Accepted</span>';
                      } else if(response.status  == 'quotation_revised'){
                          var status = '<span>Quotation Revised</span>';
                      } else if(response.status  == 'quotation_cancel'){
                        var status = '<span>Quotation Cancelled</span>';
                      } else if(response.status  == 'quotation_expired' ||  expiry_date < today){
                          var status = '<span>Quotation Expired</span>';
                      }
                      jQuery("#quotation_status").html(status);
                      jQuery("#total_price").html(response.total);
                      if(response.status  == 'quotation_accepted'){
                          jQuery(".order_id").show();
                          jQuery("#order_id").html(response.order_id);
                      }
                      
                      if(response.status  == 'pending'){
                          jQuery("#total_price").html('----');
                          jQuery("#total_price").next().html('');
                      }
                      jQuery('.loader').hide();
                      jQuery("#single-quotation").show();
                      var element = document.getElementById('single-quotation');
                      var opt = {
                          margin: 0.3,
                          filename: ref_number+'.pdf',
                          image: {
                              type: 'pdf',
                              quality: 1
                          },
                          html2canvas: {
                              scale: 5,
                              dpi: 300,
                              letterRendering: true
                          },
                          jsPDF: {
                              unit: 'in',
                              format: 'A4'
                          }
                      };
                      //html2pdf(element, opt);
                      
                      //jQuery("#single-quotation").hide();
            
                      jQuery('.loader').hide();
                      jQuery("#quotes_table").show();
                  })
            }
        
              
        
        
              
           
          });
        });

        console.log(jQuery('#davi_theme').attr('data-customer_email'));
        var shop = jQuery('#davi_theme').attr('data-shop');
        var customer_email = jQuery('#davi_theme').attr('data-customer_email');
        var data = {
        shop: shop,
        customer_email: customer_email,
        };

        fetch("/apps/sdta/get_quotes", {
            method: "POST",
            body: JSON.stringify(data),
            headers: {
                "Content-Type": "application/json",
            },
        })
        .then(function (response) {
            return response.json();
        })
        .then(function (response) {
            jQuery("#quotes").html(response);
            setTimeout(function(){
                
                jQuery('.loader').hide();
                jQuery("#quotes_table").show();
                if(response.contains('No Record Found')){
                
                }
                else{
                    jQuery("#quotes_table").DataTable({
                        "ordering": false,
                        "lengthChange": false,
                        "sorting": false
            
                    });
                }
                {% comment %} jQuery("#quotes_table_filter").css("float", "left"); {% endcomment %}
            }, 2000);
        })
    }, 2000);
</script>
{% else %}     
<script>
  
          window.location = 'https://'+window.location.host+'/account';
</script>
{% endif %}