
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js" defer></script>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap" rel="stylesheet">
{{ 'davi-style.css' | asset_url | stylesheet_tag }}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11" defer=""></script>
<script src="{{ 'davi-script.js' | asset_url }}" defer="defer"></script>
{{ template_name.first }}
{% if customer %}
<div class="loader" style="text-align:center; display:flex; justify-content:center">
  <img src="https://daviapp.solcoder.com/public/uploads/loader/Loader.gif" width="200" height="200">
</div>
  <div class="container davi-customize">
  <div id="form" style="display:none; padding : 20px;">
    <h2 style="display:none">{{ section.settings.section_title }}</h2>
    <form id="contactForm" enctype="multipart/form-data">
      <ul class="custom-steps-wrapper" data-step="1">
        <li class="custom-steps-circle s1c"><span>{{ section.settings.step1_name }}</span></li>
        <li class="custom-steps-line s1l"><span></span></li>
        <li class="custom-steps-circle s2c"><span>{{ section.settings.step2_name }}</span></li>
        <li class="custom-steps-line s2l"><span></span></li>
        <li class="custom-steps-circle s3c"><span>{{ section.settings.step3_name }}</span></li>
      </ul>
    <div class="tab step1" >
      <h3 class="custom-step-title">{{ section.settings.step1_title }}</h3>
      <div class="custom-flex-wrapper">
        <div class="custom-flex-item">
          {% for block in section.blocks %}    
            {% if block.settings.davi_field_show == 'step1' %}
              {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
                <div class="custom-form-group">
                  {% if block.settings.davi_field_type == "hidden" or unless block.settings.davi_field_type == "images"  %}
                    <label class="custom-form-label" style="display:none">{{ block.settings.davi_field_label }}</label>
                  {% else %}
                    <label class="custom-form-label">{{ block.settings.davi_field_label }}</label>
                  {% endif %}
              {% endunless %}
            {% endif %}
            {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "phone" %}
                {% comment %} <input type="text" class="davi-theme" name="davi_input_phone"> {% endcomment %}
                <div class="custom-multiple-dropdown">
                  <div class="phone-flex-wrapper">
                    <button type="button" class="custom-multiple-dropdown-main custom-phone-button"></button>
                    <ul class="custom-multiple-dropdown-list custom-phone-list"></ul>
                    <input type="number" class="custom-phone-inp davi-theme" name="davi_input_phone"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %}/>
                  </div>
                </div>
              
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "terms_and_condition" %}
              {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_value != '' %}
                <p>{{ block.settings.davi_field_value }}</p>
              {% endif%}
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "hidden" %}
                <input type="hidden" class="davi-theme" name="davi_input_hidden"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %} {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_value != '' %}  value="{{ block.settings.davi_field_value }}" {% endif %}>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "text" %}
                <input type="text" class="davi-theme" name="davi_input_text" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %}>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "email" %}
              <input type="email" class="davi-theme" name="davi_input_email"  {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "email"  and block.settings.davi_field_required == true %}  required {% endif %}>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "date" %}
              <input type="text" class="davi-theme date" name="davi_input_date" class="date" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "date" and block.settings.davi_field_required == true %}  required {% endif %}>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "dropdown" %}
              {% assign dropdown =  block.settings.davi_field_value | split: "," %}
              <select name="davi_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "dropdown" and block.settings.davi_field_required == true %}  required {% endif %}>
                  {% for option in dropdown %}
                    <option>{{ option }}</option>
                  {% endfor %}
                </select>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multipledropdown" %}
                {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "multipledropdown"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for option in dropdown %}
                    <option>{{ option }}</option>
                  {% endfor %}
                </select>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "dropdown_file" %}
              {% assign dropdown =  block.settings.davi_field_value | split: "," %}
              {% assign imgs = block.settings.davi_field_image | split: ',' %}
              <div class="custom-multiple-dropdown">
                <select name="davi_dropdown" class="custom-single-select davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "dropdown_file" and block.settings.davi_field_required == true %}  required {% endif %}>
                  {% for option in dropdown %}
                    <option>{{ option }}</option>
                  {% endfor %}
                </select>
                <button type="button" class="custom-multiple-dropdown-main"><img src="{{ imgs[0] }}" /> <span>{{ dropdown[0] }}</span></button>
                <ul class="custom-multiple-dropdown-list">
                  {% for option in dropdown %}
                    <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                  {% endfor %}
                </ul>
              </div>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multipledropdown_file" %}

              {% assign imgs = block.settings.davi_field_image | split: ',' %}
              <div class="custom-multiple-2-dropdown">
                <select name="davi_multiple_dropdown" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "multipledropdown_file"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for option in dropdown %}
                    <option value="{{ option }}" data-img="{{ imgs[forloop.index0] }}">{{ option }}</option>
                  {% endfor %}
                </select>
                <button type="button" class="custom-multiple-2-dropdown-main"><div class="custom-multiple-2-badge-wrapper"></div></button>
                <ul class="custom-multiple-2-dropdown-list">
                  {% for option in dropdown %}
                    <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                  {% endfor %}
                </ul>
              </div>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "images" %}
                {% assign images =  block.settings.davi_field_value | split: "," %}
                {% for image in images %}
                  <img src="{{ image }}"  /><br/>
                {% endfor %}
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "products" %}
              {% comment %} <select name="davi_products" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "products" and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                {% for product in collections['all'].products %}
                    <option title="{{ product.sku }}">{{ product.title }}</option>
                {% endfor %}
              </select> {% endcomment %}

              {% assign imgs = block.settings.davi_field_image | split: ',' %}
                <div class="custom-multiple-2-dropdown">
              <select name="davi_products" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "products"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                {% for product in collections['all'].products %}
                  <option value="{{ product.title | escape }}" data-img="{{ product | img_url: '100x' }}">{{ product.title | escape }}</option>
                {% endfor %}
              </select>
                  <button type="button" class="custom-multiple-2-dropdown-main">
                    <div class="custom-multiple-2-badge-wrapper">
                    
                    </div>
                    </button>
                  <ul class="custom-multiple-2-dropdown-list">
                    {% for product in collections['all'].products %}
                      <li><img src="{{ product | img_url: '100x' }}" /> <span>{{ product.title | escape }}</span></li>
                    {% endfor %}
                  </ul>
                </div>

      
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" %}
              <input type="text" class="davi-theme custom-address" name="davi_input_address" placeholder="address"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}><br>
              <input type="text" class="davi-theme custom-address" name="davi_input_appartment_no" placeholder="appartment_no"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}> <input type="text" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} class="davi-theme custom-address" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme custom-address" {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} name="davi_input_state" placeholder="state"  {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_required == true %}  required {% endif %}>
            {% endif %}
            {% if block.settings.davi_field_show == 'step1' %}
                {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
                  </div>
                {% endunless %}
            {% endif %}
          {% endfor %}
        </div>
        <div class="custom-flex-item">
          {% for block in section.blocks %}    
            {% if block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "pdf" %}
                <div class="custom-form-group">
                  <label class="custom-form-label custom-form-file-label" for="{{ block.id }}">
                    <h3>{{ block.settings.davi_field_label }}</h3>
                    <div class="custom-form-file">
                      <img src="{{ 'fileDown.svg' | asset_url }}" />
                      <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                      <input type="file" id="{{ block.id }}" class="davi-theme" name="davi_input_pdf" accept="application/pdf"  {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "pdf" and block.settings.davi_field_required == true %}  required {% endif %}>
                    </div>
                    <div class="custom-form-file-output"></div>
                  </label>
                </div>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "file" %}
                <div class="custom-form-group">
                  <label class="custom-form-label custom-form-file-label">
                    <h3>{{ block.settings.davi_field_label }}</h3>
                    <div class="custom-form-file">
                      <img src="{{ 'fileDown.svg' | asset_url }}" />
                      <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                      <input type="file" class="davi-theme" name="davi_input_file" data-extension="{{ block.settings.davi_field_file_extensions }}" data-max_upload="{{ block.settings.davi_field_max_file_upload }}" {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "file" and block.settings.davi_field_required == true %}  required {% endif %}>
                    </div>
                    <div class="custom-form-file-output"></div>
                  </label>
                </div>
            {% elsif block.settings.davi_field_show == 'step1' and block.settings.davi_field_type == "multiplefile" %}
                <div class="custom-form-group">
                  <label class="custom-form-label custom-form-file-label">
                    <h3>{{ block.settings.davi_field_label }}</h3>
                    <div class="custom-form-file">
                      <img src="{{ 'fileDown.svg' | asset_url }}" />
                      <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                      <input type="file" class="davi-theme" name="davi_input_files[]" multiple  data-extension="{{ block.settings.davi_field_file_extensions }}" data-max_upload="{{ block.settings.davi_field_max_file_upload }}"   {% if block.settings.davi_field_show == 'step1'  and block.settings.davi_field_type == "multiplefile" and block.settings.davi_field_required == true %}  required {% endif %}>
                    </div>
                    <div class="custom-form-file-output"></div>
                  </label>
                </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="tab step2" >
        <h3 class="custom-step-title">{{ section.settings.step2_title }}</h3>
        <div class="custom-flex-wrapper">
          <div class="custom-flex-item">
            {% for block in section.blocks %}    
              {% if block.settings.davi_field_show == 'step2' %}
                {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
                  <div class="custom-form-group">
                    {% if block.settings.davi_field_type == "hidden" or unless block.settings.davi_field_type == "images"  %}
                      <label class="custom-form-label" style="display:none">{{ block.settings.davi_field_label }}</label>
                    {% else %}
                      <label class="custom-form-label">{{ block.settings.davi_field_label }}</label>
                    {% endif %}
                {% endunless %}
              {% endif %}
              {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "phone" %}
                  {% comment %} <input type="text" class="davi-theme" name="davi_input_phone"> {% endcomment %}
                  <div class="custom-multiple-dropdown">
                    <div class="phone-flex-wrapper">
                      <button type="button" class="custom-multiple-dropdown-main custom-phone-button"></button>
                      <ul class="custom-multiple-dropdown-list custom-phone-list"></ul>
                      <input type="number" class="custom-phone-inp davi-theme" name="davi_input_phone"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %}/>
                    </div>
                  </div>
                
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "terms_and_condition" %}
                {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_value != '' %}
                  <p>{{ block.settings.davi_field_value }}</p>
                {% endif%}
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "hidden" %}
                  <input type="hidden" class="davi-theme" name="davi_input_hidden"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %} {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_value != '' %}  value="{{ block.settings.davi_field_value }}" {% endif %}>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "text" %}
                  <input type="text" class="davi-theme" name="davi_input_text" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %}>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "email" %}
                <input type="email" class="davi-theme" name="davi_input_email"  {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "email"  and block.settings.davi_field_required == true %}  required {% endif %}>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "date" %}
                <input type="text" class="davi-theme date" name="davi_input_date" class="date" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "date" and block.settings.davi_field_required == true %}  required {% endif %}>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "dropdown" %}
                {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                <select name="davi_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "dropdown" and block.settings.davi_field_required == true %}  required {% endif %}>
                    {% for option in dropdown %}
                      <option>{{ option }}</option>
                    {% endfor %}
                  </select>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multipledropdown" %}
                  {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                  <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "multipledropdown"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                    {% for option in dropdown %}
                      <option>{{ option }}</option>
                    {% endfor %}
                  </select>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "dropdown_file" %}
                {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                {% assign imgs = block.settings.davi_field_image | split: ',' %}
                <div class="custom-multiple-dropdown">
                  <select name="davi_dropdown" class="custom-single-select davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "dropdown_file" and block.settings.davi_field_required == true %}  required {% endif %}>
                    {% for option in dropdown %}
                      <option>{{ option }}</option>
                    {% endfor %}
                  </select>
                  <button type="button" class="custom-multiple-dropdown-main"><img src="{{ imgs[0] }}" /> <span>{{ dropdown[0] }}</span></button>
                  <ul class="custom-multiple-dropdown-list">
                    {% for option in dropdown %}
                      <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                    {% endfor %}
                  </ul>
                </div>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multipledropdown_file" %}
  
                {% assign imgs = block.settings.davi_field_image | split: ',' %}
                <div class="custom-multiple-2-dropdown">
                  <select name="davi_multiple_dropdown" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "multipledropdown_file"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                    {% for option in dropdown %}
                      <option value="{{ option }}" data-img="{{ imgs[forloop.index0] }}">{{ option }}</option>
                    {% endfor %}
                  </select>
                  <button type="button" class="custom-multiple-2-dropdown-main"><div class="custom-multiple-2-badge-wrapper"></div></button>
                  <ul class="custom-multiple-2-dropdown-list">
                    {% for option in dropdown %}
                      <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                    {% endfor %}
                  </ul>
                </div>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "images" %}
                  {% assign images =  block.settings.davi_field_value | split: "," %}
                  {% for image in images %}
                    <img src="{{ image }}"  /><br/>
                  {% endfor %}
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "products" %}
                {% comment %} <select name="davi_products" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "products" and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for product in collections['all'].products %}
                      <option title="{{ product.sku }}">{{ product.title }}</option>
                  {% endfor %}
                </select> {% endcomment %}
  
                {% assign imgs = block.settings.davi_field_image | split: ',' %}
                  <div class="custom-multiple-2-dropdown">
                <select name="davi_products" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "products"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                  {% for product in collections['all'].products %}
                    <option value="{{ product.title | escape }}" data-img="{{ product | img_url: '100x' }}">{{ product.title | escape }}</option>
                  {% endfor %}
                </select>
                    <button type="button" class="custom-multiple-2-dropdown-main">
                      <div class="custom-multiple-2-badge-wrapper">
                      
                      </div>
                      </button>
                    <ul class="custom-multiple-2-dropdown-list">
                      {% for product in collections['all'].products %}
                        <li><img src="{{ product | img_url: '100x' }}" /> <span>{{ product.title | escape }}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
  
        
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" %}
                <input type="text" class="davi-theme custom-address" name="davi_input_address" placeholder="address"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}><br>
                <input type="text" class="davi-theme custom-address" name="davi_input_appartment_no" placeholder="appartment_no"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}> <input type="text" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} class="davi-theme custom-address" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme custom-address" {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} name="davi_input_state" placeholder="state"  {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_required == true %}  required {% endif %}>
              {% endif %}
              {% if block.settings.davi_field_show == 'step2' %}
                  {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
                    </div>
                  {% endunless %}
              {% endif %}
            {% endfor %}
          </div>
          <div class="custom-flex-item">
            {% for block in section.blocks %}    
              {% if block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "pdf" %}
                  <div class="custom-form-group">
                    <label class="custom-form-label custom-form-file-label" for="{{ block.id }}">
                      <h3>{{ block.settings.davi_field_label }}</h3>
                      <div class="custom-form-file">
                        <img src="{{ 'fileDown.svg' | asset_url }}" />
                        <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                        <input type="file" id="{{ block.id }}" class="davi-theme" name="davi_input_pdf" accept="application/pdf"  {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "pdf" and block.settings.davi_field_required == true %}  required {% endif %}>
                      </div>
                      <div class="custom-form-file-output"></div>
                    </label>
                  </div>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "file" %}
                  <div class="custom-form-group">
                    <label class="custom-form-label custom-form-file-label">
                      <h3>{{ block.settings.davi_field_label }}</h3>
                      <div class="custom-form-file">
                        <img src="{{ 'fileDown.svg' | asset_url }}" />
                        <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                        <input type="file" class="davi-theme" name="davi_input_file" data-extension="{{ block.settings.davi_field_file_extensions }}" data-max_upload="{{ block.settings.davi_field_max_file_upload }}" {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "file" and block.settings.davi_field_required == true %}  required {% endif %}>
                      </div>
                      <div class="custom-form-file-output"></div>
                    </label>
                  </div>
              {% elsif block.settings.davi_field_show == 'step2' and block.settings.davi_field_type == "multiplefile" %}
                  <div class="custom-form-group">
                    <label class="custom-form-label custom-form-file-label">
                      <h3>{{ block.settings.davi_field_label }}</h3>
                      <div class="custom-form-file">
                        <img src="{{ 'fileDown.svg' | asset_url }}" />
                        <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                        <input type="file" class="davi-theme" name="davi_input_files[]" multiple  data-extension="{{ block.settings.davi_field_file_extensions }}" data-max_upload="{{ block.settings.davi_field_max_file_upload }}"   {% if block.settings.davi_field_show == 'step2'  and block.settings.davi_field_type == "multiplefile" and block.settings.davi_field_required == true %}  required {% endif %}>
                      </div>
                      <div class="custom-form-file-output"></div>
                    </label>
                  </div>
              {% endif %}
            {% endfor %}
          </div>
        </div>
    </div>
    <div class="tab step3" >
          <h3 class="custom-step-title">{{ section.settings.step3_title }}</h3>
          <div class="custom-flex-wrapper">
            <div class="custom-flex-item">
              {% for block in section.blocks %}    
                {% if block.settings.davi_field_show == 'step3' %}
                  {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
                    <div class="custom-form-group">
                      {% if block.settings.davi_field_type == "hidden" or unless block.settings.davi_field_type == "images"  %}
                        <label class="custom-form-label" style="display:none">{{ block.settings.davi_field_label }}</label>
                      {% else %}
                        <label class="custom-form-label">{{ block.settings.davi_field_label }}</label>
                      {% endif %}
                  {% endunless %}
                {% endif %}
                {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "phone" %}
                    {% comment %} <input type="text" class="davi-theme" name="davi_input_phone"> {% endcomment %}
                    <div class="custom-multiple-dropdown">
                      <div class="phone-flex-wrapper">
                        <button type="button" class="custom-multiple-dropdown-main custom-phone-button"></button>
                        <ul class="custom-multiple-dropdown-list custom-phone-list"></ul>
                        <input type="number" class="custom-phone-inp davi-theme" name="davi_input_phone"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %}/>
                      </div>
                    </div>
                  
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "terms_and_condition" %}
                  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_value != '' %}
                    <p>{{ block.settings.davi_field_value }}</p>
                  {% endif%}
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "hidden" %}
                    <input type="hidden" class="davi-theme" name="davi_input_hidden"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %} {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_value != '' %}  value="{{ block.settings.davi_field_value }}" {% endif %}>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "text" %}
                    <input type="text" class="davi-theme" name="davi_input_text" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %}>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "email" %}
                  <input type="email" class="davi-theme" name="davi_input_email"  {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "email"  and block.settings.davi_field_required == true %}  required {% endif %}>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "date" %}
                  <input type="text" class="davi-theme date" name="davi_input_date" class="date" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "date" and block.settings.davi_field_required == true %}  required {% endif %}>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "dropdown" %}
                  {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                  <select name="davi_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "dropdown" and block.settings.davi_field_required == true %}  required {% endif %}>
                      {% for option in dropdown %}
                        <option>{{ option }}</option>
                      {% endfor %}
                    </select>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multipledropdown" %}
                    {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                    <select name="davi_multiple_dropdown" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "multipledropdown"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                      {% for option in dropdown %}
                        <option>{{ option }}</option>
                      {% endfor %}
                    </select>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "dropdown_file" %}
                  {% assign dropdown =  block.settings.davi_field_value | split: "," %}
                  {% assign imgs = block.settings.davi_field_image | split: ',' %}
                  <div class="custom-multiple-dropdown">
                    <select name="davi_dropdown" class="custom-single-select davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "dropdown_file" and block.settings.davi_field_required == true %}  required {% endif %}>
                      {% for option in dropdown %}
                        <option>{{ option }}</option>
                      {% endfor %}
                    </select>
                    <button type="button" class="custom-multiple-dropdown-main"><img src="{{ imgs[0] }}" /> <span>{{ dropdown[0] }}</span></button>
                    <ul class="custom-multiple-dropdown-list">
                      {% for option in dropdown %}
                        <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multipledropdown_file" %}
    
                  {% assign imgs = block.settings.davi_field_image | split: ',' %}
                  <div class="custom-multiple-2-dropdown">
                    <select name="davi_multiple_dropdown" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "multipledropdown_file"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                      {% for option in dropdown %}
                        <option value="{{ option }}" data-img="{{ imgs[forloop.index0] }}">{{ option }}</option>
                      {% endfor %}
                    </select>
                    <button type="button" class="custom-multiple-2-dropdown-main"><div class="custom-multiple-2-badge-wrapper"></div></button>
                    <ul class="custom-multiple-2-dropdown-list">
                      {% for option in dropdown %}
                        <li><img src="{{ imgs[forloop.index0] }}" /> <span>{{ option }}</span></li>
                      {% endfor %}
                    </ul>
                  </div>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "images" %}
                    {% assign images =  block.settings.davi_field_value | split: "," %}
                    {% for image in images %}
                      <img src="{{ image }}"  /><br/>
                    {% endfor %}
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "products" %}
                  {% comment %} <select name="davi_products" class="form-control select2 davi-theme" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "products" and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                    {% for product in collections['all'].products %}
                        <option title="{{ product.sku }}">{{ product.title }}</option>
                    {% endfor %}
                  </select> {% endcomment %}
    
                  {% assign imgs = block.settings.davi_field_image | split: ',' %}
                    <div class="custom-multiple-2-dropdown">
                  <select name="davi_products" class="custom-multiple-select davi-theme" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "products"  and block.settings.davi_field_required == true %}  required {% endif %} multiple>
                    {% for product in collections['all'].products %}
                      <option value="{{ product.title | escape }}" data-img="{{ product | img_url: '100x' }}">{{ product.title | escape }}</option>
                    {% endfor %}
                  </select>
                      <button type="button" class="custom-multiple-2-dropdown-main">
                        <div class="custom-multiple-2-badge-wrapper">
                        
                        </div>
                        </button>
                      <ul class="custom-multiple-2-dropdown-list">
                        {% for product in collections['all'].products %}
                          <li><img src="{{ product | img_url: '100x' }}" /> <span>{{ product.title | escape }}</span></li>
                        {% endfor %}
                      </ul>
                    </div>
    
          
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" %}
                  <input type="text" class="davi-theme custom-address" name="davi_input_address" placeholder="address"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}><br>
                  <input type="text" class="davi-theme custom-address" name="davi_input_appartment_no" placeholder="appartment_no"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %}> <input type="text" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} class="davi-theme custom-address" name="davi_input_zip_code" placeholder="zip_code" > <input type="text" class="davi-theme custom-address" {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "address" and block.settings.davi_field_required == true %}  required {% endif %} name="davi_input_state" placeholder="state"  {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_required == true %}  required {% endif %}>
                {% endif %}
                {% if block.settings.davi_field_show == 'step3' %}
                    {% unless block.settings.davi_field_type == "pdf" or block.settings.davi_field_type == "file" or block.settings.davi_field_type == "multiplefile" %}
                      </div>
                    {% endunless %}
                {% endif %}
              {% endfor %}
            </div>
            <div class="custom-flex-item">
              {% for block in section.blocks %}    
                {% if block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "pdf" %}
                    <div class="custom-form-group">
                      <label class="custom-form-label custom-form-file-label" for="{{ block.id }}">
                        <h3>{{ block.settings.davi_field_label }}</h3>
                        <div class="custom-form-file">
                          <img src="{{ 'fileDown.svg' | asset_url }}" />
                          <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                          <input type="file" id="{{ block.id }}" class="davi-theme" name="davi_input_pdf" accept="application/pdf"  {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "pdf" and block.settings.davi_field_required == true %}  required {% endif %}>
                        </div>
                        <div class="custom-form-file-output"></div>
                      </label>
                    </div>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "file" %}
                    <div class="custom-form-group">
                      <label class="custom-form-label custom-form-file-label">
                        <h3>{{ block.settings.davi_field_label }}</h3>
                        <div class="custom-form-file">
                          <img src="{{ 'fileDown.svg' | asset_url }}" />
                          <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                          <input type="file" class="davi-theme" name="davi_input_file" data-extension="{{ block.settings.davi_field_file_extensions }}" data-max_upload="{{ block.settings.davi_field_max_file_upload }}" {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "file" and block.settings.davi_field_required == true %}  required {% endif %}>
                        </div>
                        <div class="custom-form-file-output"></div>
                      </label>
                    </div>
                {% elsif block.settings.davi_field_show == 'step3' and block.settings.davi_field_type == "multiplefile" %}
                    <div class="custom-form-group">
                      <label class="custom-form-label custom-form-file-label">
                        <h3>{{ block.settings.davi_field_label }}</h3>
                        <div class="custom-form-file">
                          <img src="{{ 'fileDown.svg' | asset_url }}" />
                          <p><strong>Browse File</strong> or drag and drop {{ block.settings.davi_field_file_extensions }} (max. {{ block.settings.davi_field_max_file_upload }}MB)</p>
                          <input type="file" class="davi-theme" name="davi_input_files[]" multiple  data-extension="{{ block.settings.davi_field_file_extensions }}" data-max_upload="{{ block.settings.davi_field_max_file_upload }}"   {% if block.settings.davi_field_show == 'step3'  and block.settings.davi_field_type == "multiplefile" and block.settings.davi_field_required == true %}  required {% endif %}>
                        </div>
                        <div class="custom-form-file-output"></div>
                      </label>
                    </div>
                {% endif %}
              {% endfor %}
            </div>
          </div>
    </div>
    <input type="hidden" id="shop" value="{{ shop.domain }}" />

  {% if section.settings.section_title %}
    <input type="hidden" name="davi_form_type" value="{{ section.settings.section_title }}" />
  {% else %}
    <input type="hidden" name="davi_form_type" value="Multistep Form" />
  {% endif %}
  <div style="overflow:auto; margin-top:20px;">
    <div style="display: flex; flex-wrap: wrap; justify-content: center;">
      <button type="button" class="davi-theme" id="prevBtn" onclick="nextPrev(-1)"><svg width="32" height="26" viewBox="0 0 32 26" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M12.2031 19.5L20.0538 13L12.2031 6.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg> Previous</button>
      <button type="button" class="davi-theme" id="nextBtn" onclick="nextPrev(1)">Next</button>
    </div>
  </div>
  </form>
  </div>
  </div>
  {% else %}
    <p>To view your quote, Please {{ 'Login' | customer_login_link }}.</p>
{% endif %}
{% schema %}
  {
  "name": "Davi Multistep Form",
	"class": "container mx-auto",
	"tag": "section",
	"settings": [{
		"id": "section_title",
    "type": "text",
    "label": "Section Header",
		"default": "Multistep Form"
	},
  {
      "id": "step1_title",
      "type": "text",
      "label": "Step 1 Title",
      "default": "Step 1 Title"
  },
  {
      "id": "step1_name",
      "type": "text",
      "label": "Step 1 Name",
      "default": "Step 1 Name"
  },
  {
      "id": "step2_title",
      "type": "text",
      "label": "Step 2 Title",
      "default": "Step 2 Title"
  },
  {
      "id": "step2_name",
      "type": "text",
      "label": "Step 2 Name",
      "default": "Step 2 Name"
  },
  {
      "id": "step3_title",
      "type": "text",
      "label": "Step 3 Title",
      "default": "Step 3 Title"
  },
  {
      "id": "step3_name",
      "type": "text",
      "label": "Step 3 Name",
      "default": "Step 3 Name"
  }
],
  "blocks": [
    {
      "type": "davi_field",
      "name": "Davi Field",
      "settings": [
        {
          "id": "davi_field_label",
          "type": "text",
          "label": "Field Label"
        },
        {
          "type": "select",
          "id": "davi_field_show",
          "label": "Field Show on",
          "options": [
            {
              "value": "step1",
              "label": "Step 1"
            },
            {
              "value": "step2",
              "label": "Step 2"
            },
            {
              "value": "step3",
              "label": "Step 3"
            }
          ],
          "default": "step1"
        },        
        {
          "type": "select",
          "id": "davi_field_type",
          "label": "Field Type",
          "options": [
            {
              "value": "text",
              "label": "Text"
            },
            {
              "value": "email",
              "label": "Email"
            },
            {
              "value": "date",
              "label": "Datepicker"
            },
            {
              "value": "products",
              "label": "Products"
            },
            {
              "value": "pdf",
              "label": "PDF"
            },
            {
              "value": "file",
              "label": "File"
            },
            {
              "value": "multiplefile",
              "label": "Multiple Files"
            },
            {
              "value": "dropdown",
              "label": "Dropdown"
            },
            {
              "value": "multipledropdown",
              "label": "Multiple Dropdown"
            },
            {
              "value": "dropdown_file",
              "label": "Dropdown - Image"
            },
            {
              "value": "multipledropdown_file",
              "label": "Multiple Dropdown - Image"
            },
            {
              "value": "address",
              "label": "Address"
            },
            {
              "value": "hidden",
              "label": "Hidden"
            },
            {
              "value": "terms_and_condition",
              "label": "Terms & condition"
            },
            {
              "value": "images",
              "label": "Images"
            },
            {
              "value": "phone",
              "label": "Phone"
            }
          ],
          "default": "text"
        },
        {
          "id": "davi_field_value",
          "type": "text",
          "label": "Field Value (for comma seprated)"
        },
        {
          "id": "davi_field_image",
          "type": "text",
          "label": "Dropdown Option Images (for comma seprated)"
        },
        {
          "id": "davi_field_max_file_upload",
          "type": "text",
          "label": "Max MB(s) Allowed"
        },
        {
          "id": "davi_field_file_extensions",
          "type": "text",
          "label": "File Extension (for comma seprated)"
        },
        {
          "id": "davi_field_required",
          "type": "checkbox",
          "label": "If Requred",
          "default": false
        }
        
      ]
    }
    ],
	"presets": [
      {
        "name": "Davi Multi Step Form",
        "category": "Forms"
      }
    ]
    
  }
{% endschema %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css"  />
<link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js" defer></script>
<script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js" defer></script>
<!-- Javascript -->
<script>

  setTimeout(function(){
     jQuery(function() {
      
        jQuery('.loader').hide();
        jQuery( "#form" ).show();
        jQuery( ".date" ).datepicker();
        jQuery( ".select2" ).select2();
     });
     $('input').keyup(function() {
      if($(this).hasClass('invalid')){
        $(this).removeClass('invalid');
      }
     });
    }, 2000);
  
</script>
</div>